{{ header }}{{ column_left }}
<div id="content" class="payment-paypal">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form_payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary button-save"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title_main }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
		{% endif %}
		{% if text_version %}
		<div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ text_version }}</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form action="{{ save }}" method="post" id="form_payment" data-oc-toggle="ajax">
					<a href="{{ href_dashboard }}" class="back-dashboard"><i class="icon icon-back-dashboard"></i>{{ text_tab_dashboard }}</a>
					<ul class="nav nav-tabs">
						<li class="nav-tab"><a href="{{ href_general }}" class="tab"><i class="tab-icon tab-icon-general"></i><span class="tab-title">{{ text_tab_general }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_button }}" class="tab"><i class="tab-icon tab-icon-button"></i><span class="tab-title">{{ text_tab_button }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_googlepay_button }}" class="tab"><i class="tab-icon tab-icon-googlepay-button"></i><span class="tab-title">{{ text_tab_googlepay_button }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_applepay_button }}" class="tab"><i class="tab-icon tab-icon-applepay-button"></i><span class="tab-title">{{ text_tab_applepay_button }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_card }}" class="tab"><i class="tab-icon tab-icon-card"></i><span class="tab-title">{{ text_tab_card }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_fastlane }}" class="tab active"><i class="tab-icon tab-icon-fastlane"></i><span class="tab-title">{{ text_tab_fastlane }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_message_configurator }}" class="tab"><i class="tab-icon tab-icon-message-configurator"></i><span class="tab-title">{{ text_tab_message_configurator }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_message_setting }}" class="tab"><i class="tab-icon tab-icon-message-setting"></i><span class="tab-title">{{ text_tab_message_setting }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_order_status }}" class="tab"><i class="tab-icon tab-icon-order-status"></i><span class="tab-title">{{ text_tab_order_status }}</span></a></li>
						<li class="nav-tab"><a href="{{ href_contact }}" class="tab"><i class="tab-icon tab-icon-contact"></i><span class="tab-title">{{ text_tab_contact }}</span></a></li>
					</ul>
					<div class="section-content">
						<div class="row">
							<div class="col col-lg-6">
								<div class="section-checkout">
									<div class="section-title">{{ text_checkout }}</div>
									<div class="table-totals">
										<div class="row">
											<div class="col offset-md-6 col-md-6">
												<div class="row row-total">
													<div class="col col-6 col-title">{{ text_cart_sub_total }}</div>
													<div class="col col-6 col-price">{{ text_cart_product_total_value }}</div>
												</div>
												<div class="row row-total">
													<div class="col col-6 col-title">{{ text_cart_total }}</div>
													<div class="col col-6 col-price">{{ text_cart_product_total_value }}</div>
												</div>
											</div>
										</div>
									</div>
									<div id="fastlane_card" class="fastlane-card">
										<div id="fastlane_card_container" class="fastlane-card-container paypal-spinner">
											<div id="fastlane_card_form" class="fastlane-card-form">
												<div id="fastlane_card_form_container" class="fastlane-card-form-container"></div>
												<div class="card-button">
													<button type="button" id="fastlane_card_button" class="btn fastlane-card-button">{{ button_pay }}</button>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="col col-lg-6">
								<div class="section-fastlane-setting">
									<div class="row">
										<div class="col col-md-6">
											<legend class="legend">{{ text_fastlane_settings }}</legend>
										</div>
										<div class="col col-md-6">
											<div class="input-group-status">
												<label class="col-form-label" for="input_fastlane_status"><span data-bs-toggle="tooltip" title="{{ help_fastlane_status }}">{{ entry_status }}</span></label>
												<input type="hidden" name="payment_paypal_setting[fastlane][status]" value="0" />
												<input type="checkbox" name="payment_paypal_setting[fastlane][status]" value="1" class="switch" {% if setting['fastlane']['status'] %} checked="checked" {% endif %} />
											</div>
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-form-label" for="input_fastlane_card_align">{{ entry_fastlane_card_align }}</label>
										<div class="input-group">
											<select name="payment_paypal_setting[fastlane][card][align]" id="input_fastlane_card_align" class="form-select control-fastlane-card">
												{% for fastlane_card_align in setting['fastlane_card_align'] %}
												{% if (fastlane_card_align['code'] == setting['fastlane']['card']['align']) %}
												<option value="{{ fastlane_card_align['code'] }}" selected="selected">{{ attribute(_context, fastlane_card_align['name']) }}</option>
												{% else %}
												<option value="{{ fastlane_card_align['code'] }}">{{ attribute(_context, fastlane_card_align['name']) }}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-form-label" for="input_fastlane_card_size">{{ entry_fastlane_card_size }}</label>
										<div class="input-group">
											<select name="payment_paypal_setting[fastlane][card][size]" id="input_fastlane_card_size" class="form-select control-fastlane-card">
												{% for fastlane_card_size in setting['fastlane_card_size'] %}
												{% if (fastlane_card_size['code'] == setting['fastlane']['card']['size']) %}
												<option value="{{ fastlane_card_size['code'] }}" selected="selected">{{ attribute(_context, fastlane_card_size['name']) }}</option>
												{% else %}
												<option value="{{ fastlane_card_size['code'] }}">{{ attribute(_context, fastlane_card_size['name']) }}</option>
												{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

var fastlane_card_width = JSON.parse('{{ setting['fastlane_card_width']|json_encode() }}');

updateFastlaneCard();

$('.payment-paypal .switch').bootstrapSwitch({
    'onColor': 'success',
    'onText': '{{ text_on }}',
    'offText': '{{ text_off }}'
});

$('.payment-paypal').on('change', '.control-fastlane-card', function() {
	updateFastlaneCard();
});

$('.payment-paypal').on('click', '.button-agree', function() {
	$.ajax({
		type: 'post',
		url: '{{ agree_url }}',
		data: '',
		dataType: 'json',
		success: function(json) {
			$('.payment-paypal .alert').remove();
			
			if (json['success']) {
				$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

function updateFastlaneCard() {								
	var paypal_data = {};

	paypal_data['client_id'] = '{{ client_id }}';
	paypal_data['secret'] = '{{ secret }}';
	paypal_data['merchant_id'] = '{{ merchant_id }}';
	paypal_data['environment'] = '{{ environment }}';
	paypal_data['partner_attribution_id'] = '{{ partner_attribution_id }}';
	paypal_data['locale'] = '{{ locale }}';
	paypal_data['currency_code'] = '{{ currency_code }}';
	paypal_data['currency_value'] = '{{ currency_value }}';
	paypal_data['decimal_place'] = '{{ decimal_place }}';
	paypal_data['sdk_client_token'] = '{{ sdk_client_token }}';
	paypal_data['client_metadata_id'] = '{{ client_metadata_id }}';
	paypal_data['transaction_method'] = '{{ setting['general']['transaction_method'] }}';
	paypal_data['components'] = ['fastlane'];
	paypal_data['fastlane_card_align'] = $('.payment-paypal #input_fastlane_card_align').val();
	paypal_data['fastlane_card_size'] = $('.payment-paypal #input_fastlane_card_size').val();
		
	paypal_data['fastlane_card_width'] = fastlane_card_width[paypal_data['fastlane_card_size']];
			
	PayPalAPI.init(paypal_data);
}

</script>
{{ footer }}